Dear {{item.name}},

Here's an overview of your trips:

{% for trip in item.trips %}
-  {{ trip.destination }}: From {{ trip.start }} to {{ trip.end }}, cost: {{ trip.cost }}
{% endfor %}

Thank you,

Jinja Travel 